<!-- Background -->
<section>
  <div class="relative opacity-50">
    <img class="fixed h-screen w-screen bg-cover bg-fixed bg-no-repeat object-cover" src="../../assets/images/bg-image.jpg" alt="" />
  </div>
</section>
<!-- Content -->
<section class="relative flex h-full min-h-screen flex-col">
  <app-navbar></app-navbar>
  <div class="mt-10 h-32 w-full bg-gradient-to-r from-green-500 to-green-700">
    <div class="container mx-auto w-full max-w-5xl p-6">
      <p class="text-4xl font-bold text-white">Store</p>
      <p class="text-lg text-white">Buy items with Dragon Nest Coin</p>
    </div>
  </div>
  <!-- Table -->
  <div class="mx-auto w-full max-w-5xl flex-1">
    <div class="container mx-auto mt-5 mb-20 w-full">
      <div class="rounded-tr-xl rounded-tl-xl bg-gradient-to-r from-[#3E3E5A] to-[#444564] p-3">
        <div class="flex flex-wrap p-2">
          <div class="flex flex-1 gap-3">
            <p *ngFor="let category of categories" class="text-lg font-bold text-white" (click)="filter(category.name)">
              {{ category.name }}
            </p>
          </div>
          <div class="">
            <div class="relative">
              <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                <svg aria-hidden="true" class="h-5 w-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                </svg>
              </div>
              <input type="search" [(ngModel)]="searchText" (keyup)="onSearchTextChanged()" (pointermove)="onSearchTextChanged()" class="block w-full bg-white p-2 pl-10 text-sm focus:outline-none" placeholder="Search" required />
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5 bg-gradient-to-r from-[#3E3E5A] to-[#444564] p-3">
        <div class="mb-5 space-y-3">
          <!-- <div *ngFor="let store of store; let i = index"> -->
          <div *ngFor="let filteredItem of filteredItems; let i = index">
            <!-- <div
              *ngIf="store.name.includes(selectedCategory)"
              class="flex-wrap items-center rounded-lg border-2 border-transparent bg-slate-600 p-2 hover:border-slate-500 md:flex"> -->
            <div class="flex-wrap items-center rounded-lg border-2 border-transparent bg-slate-600 p-2 hover:border-slate-500 md:flex">
              <div class="flex items-start gap-x-3 md:flex-1">
                <img class="w-[90px]" [src]="filteredItem.img" />
                <div>
                  <p class="text-2xl font-bold text-white">
                    {{ filteredItem.name }}
                  </p>
                  <p class="text-white">Price : {{ filteredItem.price | number }} / items</p>
                  <p class="font-bold text-green-500">
                    Total :
                    {{ (!filteredItem.total ? filteredItem.price : filteredItem.total) | number }}
                    Coin
                  </p>
                </div>
              </div>
              <div class="flex items-end justify-end gap-x-4 md:w-[250px]">
                <div class="grid gap-y-2">
                  <p class="text-center text-white">Qty</p>
                  <input type="number" (change)="onChangeQuantity(i)" (keyup)="onChangeQuantity(i)" [(ngModel)]="filteredItem.buy_qty" min="1" max="" class="h-10 w-20 rounded-lg text-center focus:outline-none" />
                </div>
                <button (click)="showModalDialog(filteredItem)" class="h-10 w-20 rounded-lg bg-blue-500 text-white hover:bg-blue-600">Buy</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <p-dialog
          header="Buy This Items"
          [(visible)]="displayModal"
          [modal]="true"
          [styleClass]="'bgColor'"
          [style]="{
            backgroundColor: '#FED59E'
          }"
          [baseZIndex]="10000"
          [draggable]="false"
          [resizable]="false"
        >
          <p class="text-center" *ngIf="selectedItem">
            Are you sure want to buy
            <strong>{{ selectedItem.name }} Quantity : {{ selectedItem.buy_qty }} ?</strong>
          </p>
          <ng-template pTemplate="footer">
            <button (click)="alert()" label="Yes" class="rounded-lg bg-green-600 px-6 py-2 text-sm text-white hover:bg-green-700">Confirm</button>
            <button class="rounded-lg bg-slate-500 px-6 py-2 text-sm text-white hover:bg-slate-600" icon="pi pi-times" (click)="displayModal = false">Cancel</button>
          </ng-template>
        </p-dialog>

        <!-- Modal Login First -->
        <p-dialog
          *ngIf="!isLoggedIn"
          header="Please Login First"
          [(visible)]="loginModal"
          [modal]="true"
          [styleClass]="'bgColor'"
          [style]="{
            backgroundColor: '#FED59E'
          }"
          [baseZIndex]="10000"
          [draggable]="false"
          [resizable]="false"
        >
          <p class="text-center">Login to Your Account Before Buying Items</p>
          <ng-template pTemplate="footer">
            <button (click)="goLogin()" label="Yes" class="rounded-lg bg-green-600 px-6 py-2 text-sm text-white hover:bg-green-700">Login</button>
            <button class="rounded-lg bg-slate-500 px-6 py-2 text-sm text-white hover:bg-slate-600" icon="pi pi-times" (click)="loginModal = false">Cancel</button>
          </ng-template>
        </p-dialog>
        <!-- Pagination -->
        <div class="flex items-center justify-between bg-gradient-to-r from-[#3E3E5A] to-[#444564] p-2">
          <p class="text-white">Showing 1-10 of 390,115 results</p>
          <div class="flex items-center gap-x-3">
            <button class="bg-slate-500 p-2 text-white hover:bg-slate-700"><</button>
            <p class="text-white">1</p>
            <button class="bg-slate-500 p-2 text-white hover:bg-slate-700">></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <app-footer></app-footer>
</section>
